#set($page_title="404")
#set($layout="layout_bdp_no_left.vm")###
<div id="" style=" ">
    <div style="border: 0px solid silver;
    text-align: center;
    margin: 0px auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: url(/scriptcenter/statics/image/404-02.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;">
    ##        <img src="/scriptcenter/statics/image/404-02.gif"/>
        <div style="position: absolute;width: 100%;bottom: 30px;">
        ##            <p style="line-height: 30px;color: #666666;font-size: 14px;">抱歉【$!{userHolder.name}($!{userHolder.erp})】你访问的页面不存在，<a
##                    href="/scriptcenter/index.html" target="_self">返回首页</a></p>
        </div>
    </div>
</div>
<!-- Scripts -->
#define($cssBlock)

<style type="text/css">
    .bdp-algor-noright-content {
    }
</style>
#end

