<div id="contentWrap">
    <div id="content" style="margin-left: 33px; height:100%;overflow: hidden;position:relative;">

        <input type="hidden" id="openScript" value="1">
        <input type="hidden" id="scriptFileId" value="$!{scriptFileId}">
        <input type="hidden" id="gitStatus" value="$!{gitStatus}">
        <input type="hidden" id="filePosition" value="$!{filePosition}">
        <input type="hidden" id="templateId" value="$!{templateId}">
        <input type="hidden" id="gitProjectFilePath" value="$!{gitProjectFilePath}">
        <input type="hidden" id="scriptType" value="$!{scriptType}">
        <input type="hidden" id="pythonType" value="$!{pythonType}">
        <input type="hidden" id="scriptRunDetailId" value="">
        <input type="hidden" id="gitProjectId" value="$!{gitProjectId}">
        <input type="hidden" id="gitProjectDirPath" value="$!{gitProjectDirPath}">
        <input type="hidden" id="canEdit" value="$!{canEdit}">
        <input type="hidden" id="canRun" value="$!{canRun}">
        <input type="hidden" id="version" value="$!{version}">
        <input type="hidden" id="lastVersion" value="$!{lastVersion}">
        <input type="hidden" id="origin" value="$!{origin}">
        <input type="hidden" id="configId" value="$!{configId}">
        <input type="hidden" id="configMarketId" value="$!{configMarketId}">

        <input type="hidden" id="isShow" value="$!{isShow}">
        <input type="hidden" id="fileMd5" value="$!{fileMd5}">
        <input type="hidden" id="fileName" value="$!{fileName}">
        <input type="hidden" id="isForceEdit" value="0"/>
        <input type="hidden" id="runType" value="$!{runType}"/>
        <input type="hidden" id="relationDependencyId" value="$!{relationDependencyId}"/>
        <input type="hidden" id="currentRelationDependencyId" value="$!{currentRelationDependencyId}"/>
        <div id="mergeVersionContent"
             style="display:none;position: absolute;top: 0px;height: 30px;padding-left: 30%;width: 100%;"><span
                class="merge-version-tips">当前脚本为调度版本，保存后将覆盖最新版本，返回</span><a id="chooseVersionBtn"
                                                                            class="bdp-btn bdp-btn-primary">脚本选择</a>
        </div>

        <div id="code" class="code_wrapper">
            <div class="table-left-tab" style="width: 35px"></div>
            <div id="packZipDetail" style="display: none">
                <div class="buttonWrap" style="">
                    <a class="bdp-btn bdp-btn-primary" id="update2NewVersion">更新压缩包</a>
                </div>
                <div class="ztreeWrap" id="ztreeWrapDiv">
                    <div class="treeTable" id="treeTable">
                        <div class="tree-table-title">
                            <div class="script-file"><input type="checkbox"
                                                            style="margin-left: 0px !important;margin-right: 10px"
                                                            id="checkAll">目录及文件名
                            </div>
                            <div class="version" style="text-decoration: none;">ZIP内版本</div>
                            <div class="version" style="text-decoration: none;">最新版本</div>
                            <div class="mender">最近修改人</div>
                            <div class="modified">最近修改时间</div>
                        </div>
                        <div style="position: absolute;top: 45px;bottom: 0px;overflow: auto;right: 0px;left: 0px;">
                            <ul id="packTreeUl">
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="logOrDataSplit">
            <div style="float: left;margin-left: 50px;width: 60px;">行：<span id="rownumber">1</span>&nbsp;</div>
            <div style="float: left;width: 60px;">列：<span id="colnumber">1</span>&nbsp;</div>
            <div style="float: left;">最后修改信息：&nbsp; <span id="lastmender">$!{lastmender}</span>/<span
                    id="lastmodified"> $!{lastmodified}</span></div>
            <div style="float: left;margin-left: 30px">当前版本：&nbsp;<span><a href="javascript:;" class="changeVersion"
                                                                           id="currentVersionInfo">$!{version}</a></span>
            </div>
            <div style="float: left;margin-left: 30px">最新版本：&nbsp;<span><a href="javascript:;" class="changeVersion"
                                                                           id="lastVersionInfo">$!{lastVersion}</a></span>
            </div>
            <div style="float: left;margin-left: 30px" id="gitVersionStatusTip"><span></span></div>
            <div style="float: left;margin-left: 30px;display: none;" id="cheDepDiv"><a href="javascript:;" class=""
                                                                                        id="cheDep">查看依赖</a></div>
            <div style="clear: both;"></div>
        </div>
        <div class="logOrDataParent" style="position:absolute;left:0px;bottom:0px;height:300px;width:100%;z-index: 4">

            <div id="fullScreenLogData" style="position: absolute;background: white;z-index: 100;width: 100%;height: 100%;opacity: 0.0;display: block;"></div>



            <div class="debug-sideBar" id="debugSideBar">
                <ul class="sideBar-ul ">
                    <li class="sideBar-li color_run unRun-mode ico-disabled" data-command="run"><span
                            class="sideBar-icon bdp-icon ide-rzyx pop-title" data-title="运行"></span></li>
                    <li class="sideBar-li color_run run-mode debug-mode " style="" data-command="restart"><span
                            class="sideBar-icon restart sideBar-command pop-title" id="restartCommand"
                            data-title="重新运行"></span></li>
                    <li class="sideBar-li color_run debug-mode" style="display: none" data-command="continue"><span
                            class="sideBar-icon bdp-icon ide-hfyx pop-title" id="debugContinue"
                            data-title="继续执行"></span></li>
                    <li class="sideBar-li color_run unRun-mode ico-disabled" style="display: none" id="debugCommand"
                        data-command="debug" data-type="3"><span class="sideBar-icon bdp-icon ide-debug pop-title"
                                                                 data-title="调试"></span></li>
                    <li class="sideBar-li color_stop unRun-mode run-mode debug-mode ico-disabled"
                        style="border-bottom: 1px solid #14191E;" data-command="stop" id="stopCommand"><span
                            class="sideBar-icon bdp-icon ide-rztz pop-title" data-title="停止"></span></li>
                    <li class="sideBar-li color_stop debug-mode unRun-mode run-mode" style="display: none"
                        id="disableBreakPointLi" data-type="3" data-command="disable-breakpoint"><span
                            class="sideBar-icon sideBar-command disable-breakpoints pop-title "
                            data-title="静音断点，临时禁用所有断点，快速让脚本执行结束"></span></li>
                </ul>
            </div>
            <div id="logOrData" class="datadev-tab-horizontal" style="padding-left: 40px">
                <div class="tabPullDown rightMeun" style="display: none;">
                    <div class="triangle_border">
                        <span></span>
                    </div>
                    <ul>
                        <li envent-type="closeCurrent"><span>关闭当前</span></li>
                        <li envent-type="closeOther"><span>关闭其他</span></li>
                        <li envent-type="closeLeft"><span>关闭左侧</span></li>
                        <li envent-type="closeRight"><span>关闭右侧</span></li>
                        <li envent-type="closeAll"><span>关闭所有</span></li>
                    </ul>
                </div>
                <div style="width:100%;overflow:hidden;position: relative" id="logAndRunResult">
                    <div style="float: left;overflow: hidden;position: absolute;z-index: 100">
                        <ul class="tab-header datadev-ul fixed-ul" id="fixedUl">
                            <li target="run-log" data-title="日志" data-label="日志" class="active">
                                <div id="run-log-circle" class=""></div>
                                <a style="float: left;width: 24px" href="javascript:;">日志</a></li>
                        </ul>
                    </div>
                    <div class="step-command" id="stepCommandUl">
                        <ul class="command-ul">
                            <li class="command-li">
                                    <span class="command-operate step-over pop-title"
                                          data-title="Step Over，单步调试，不进入子函数（F8）" id="stepOver">
                                    </span>
                            </li>
                            <li class="command-li">
                                    <span class="command-operate step-into pop-title"
                                          data-title="Step Into，单步调试，进入子函数（F7）" id="stepInto">
                                    </span>
                            </li>
                            <li class="command-li">
                                    <span class="command-operate step-out pop-title"
                                          data-title="Step Out，跳出子函数（Shift+F8）" id="stepOut">
                                    </span>
                            </li>
                            <li class="command-li" style="display: none">
                                    <span class="command-operate step-util pop-title" data-title="（Alt+F9），运行到光标处"
                                          id="stepUntil">
                                    </span>
                            </li>
                        </ul>
                    </div>
                    <div id="dynamicDiv" style="float: left;overflow: hidden;padding-left: 45px;width: 100%">
                        <ul class="tab-header datadev-ul dynamic-ul" style="width:500%;margin-left:0px;">
                        </ul>
                    </div>


                    <div class="moreTitle">
                        <span class="bdp-icon ide-more"></span>
                    </div>
                    <ul class="moreTagUL">
                    </ul>
                </div>

                <div id="run-log" class="tab-content" style="overflow: auto;overflow-y: hidden;position: relative">
                    <div class="run-content">
                        <div id="run-log-content"
                             style="position: absolute;width: 100%;height: 100%;overflow-y: auto;">

                        </div>
                    </div>

                    <div class="run_log_bottom">
                    </div>
                </div>
                <div id="run-debug" class="tab-content"
                     style="overflow: auto;overflow-y: hidden;display: none;position: relative">
                    <div class="run-content">
                        <div class="debug-content">
                            <div class="debug-main">
                                <div class="debug-variables">
                                    <div class="varaables-titles"><span
                                            style="margin-left: 10px;margin-right: 10px;color: #C59558"
                                            class="bdp-icon ide-bl"></span><span>Variables</span></div>
                                    <div class="variables-content">
                                        <ul class="ztree" id="variablesTree"></ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div style="height: 6px;background: rgb(68, 73, 79);position: absolute;width:100%;bottom: 0px;border-top:1px solid #0C0F13">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/scriptcenter/statics/pages/devcenter/script_edit_code.js?_dc=$!{staticVersion}"></script>



