#set($layout="layout_blank.vm")
#set($page_title="diff")


<link rel="stylesheet" href="/scriptcenter/statics/ace-diff/styles.css?_dc=$!{staticVersion}">
<input type="hidden" id="gitProjectId" value="$!{gitProjectId}">
<input type="hidden" id="gitProjectFilePath" value="$!{gitProjectFilePath}">

<div id="flex-container" >
    <div>
        <p class="diff-title" id="leftTips"></p>
        <div id="acediff-left-editor" class="acediff-editor">
        </div>
    </div>
    <div id="acediff-gutter" onmousewheel="return false;"></div>
    <div>
        <p class="diff-title" id="rightTips"></p>
        <div id="acediff-right-editor" class="acediff-editor">
        </div>
    </div>
</div>

##<div style="background: gray; height: 100%;width: 100%; position: absolute; top:484px;">
##    <p style="width: 100px;float: left;">提交信息</p>
##    <textarea name='gitCommitMessage' class='bdp-form-control' id='gitCommitMessage' style='color:#A3A9B2;resize: none;width: 300px;height: 200px;padding: 10px;float: left;' placeholder='请输入提交信息，该信息将同步至git中'></textarea>
##</div>
<input type="hidden" id="scriptId" value="$!{dataDevScriptFile.id}"/>
<input type="hidden" id="scriptFileName" value="$!{dataDevScriptFile.name}"/>

<div class="acediff-bottom" style="padding: 4px;">
    <a class="bdp-btn bdp-btn-primary" style="float: right;" id="nextButton">下一步</a>
    <a class="bdp-btn bdp-btn-default" style="float: right;" id="cancelButton">取消</a>
</div>

<script >


</script>
<script src="/scriptcenter/statics/ace-diff/diff_match_patch.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/ace/ace118.js?_dc=$!{staticVersion}" type="text/javascript" charset="utf-8"></script>
<script src="/scriptcenter/statics/art/js/jquery.artDialog.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/ace-diff/ace-diff.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/plugins/iframeTools.js?_dc=$!{staticVersion}"></script>
##<script src="/scriptcenter/statics/pages/home/merge.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/pages/devcenter/home_open_ide/upline_diff.js?_dc=$!{staticVersion}"></script>

