#set($layout="layout_bdp_no_left.vm")
#set($page_title="Client")

<link rel="stylesheet" href="/scriptcenter/statics/pages/home/home_left/funtion_manage.css?_dc=$!{staticVersion}" type="text/css">
<link rel="stylesheet" href="/scriptcenter/statics/pages/home/home_index.css?_dc=$!{staticVersion}">
<link rel="stylesheet" href="/scriptcenter/statics/jdDataDevTab/JdDataDevTab_copy.css?_dc=$!{staticVersion}">
<link rel="stylesheet" href="/scriptcenter/statics/spin/spin.css?_dc=$!{staticVersion}" type="text/css">
<link rel="stylesheet" href="/scriptcenter/statics/art/skins/twitter.css?_dc=$!{staticVersion}">

<link rel="stylesheet" type="text/css" href="/scriptcenter/statics/zTree/css/zTreeStyle/zTreeStyle.css?_dc=$!{staticVersion}">

<span style="display: none" id = "clientBase">${clientBase}</span>

<div id="clientBaseInfomation" style="display: block; width: 100%; height: 100%">


        <div class="jd-table-parent" id="clientBase-jd-table-parent" style="height: 600px;width: 100%">
            <table class="jd-table table table-hover " id="client-base-table">
            </table>
            <div id="client-base-pager">

            </div>
        </div>


</div>
<style>
    .opt_span{
        display: block;
        float: left;
        width: 50px;
        height: 25px;
        background: gray;
        margin: 0px 5px;
        text-align: center;
        line-height: 25px;
        color: white;
        cursor: pointer;
    }
    .valid{
        background-color: #3286E9;
    }

</style>

<script src="/scriptcenter/statics/jdDataDevTab/JdDataDevTab_copy.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/bdp/plugins/jqGrid/jquery.jqGrid.min.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/bdp/plugins/jqGrid/grid.locale-cn.js?_dc=$!{staticVersion}"></script>

<script src="/scriptcenter/statics/art/js/jquery.artDialog.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/plugins/iframeTools.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/pages/home/clientQuery.js?_dc=111$!{staticVersion}"></script>


