<link rel="stylesheet" href="/scriptcenter/statics/pages/home/home_left/createSql.css?_dc=$!{staticVersion}" type="text/css">

<div class="bdp-modal " id="createSqlModal" role="dialog" aria-hidden="true"
     style="overflow:hidden;z-index: 9990 !important;">
    <div class="bdp-modal-dialog " style="width: 610px;">
        <div class="bdp-modal-content "> <!--这是弹出框的头部-->
            <div class="bdp-modal-header"
                 style="height: 45px !important;padding: 15px 20px;margin: 0px;border-bottom: 1px solid #44494F">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="bdp-modal-title">一键生成SQL</h4>
            </div> <!--这是弹出框的主要内容-->
            <div class="bdp-modal-body account-body" style="width: 610px;height: 445px;position: relative;">
                <div class="create-content">
                    <ul id="createSqlUl">
                        <li class="active" target="selectSqlSentence">查询语句</li>
                        <li target="createSqlSentence">创建语句</li>
                    </ul>
                    <a class="bdp-btn bdp-btn-primary" id="copySqlBtn">一键复制</a>

                </div>
                <div class="sql-content">
                    <textarea id="selectSqlSentence">

                    </textarea>
                    <textarea id="createSqlSentence" style="display: none">

                    </textarea>
                </div>


            </div> <!--这是弹出框的底部内容-->
        ##            <div class="bdp-modal-footer" style="height: 52px">
        ##                    <a class="bdp-btn bdp-btn-primary" id="createBuffolaJob">确定</a>
        ##                    <a class="bdp-btn bdp-btn-default" data-dismiss="modal">关闭</a>
        ##            </div>
        </div>
    </div>
</div>
<script src="/scriptcenter/statics/pages/home/home_left/createSql.js?_dc=$!{staticVersion}"></script>
