#set($layout="layout_blank.vm")
#set($page_title="template")
<link rel="stylesheet" href="/scriptcenter/statics/pages/home/home_index.css?_dc=$!{staticVersion}" type="text/css">
<link rel="stylesheet" href="/scriptcenter/statics/pages/home/template.css?_dc=$!{staticVersion}" type="text/css">


<!--这是弹出框的主要内容-->
<div id="template-body" class="bdp-modal-body file-body"
     style="width: 100%;height:100%;position: relative;top: 0px;bottom: 80px;">
    <form class='datadev-form-inline' id='templateSaveContent'>
        <input type="hidden" id = "templateId" value="$!{dataDevScriptTemplate.id}">
        <h4 class='datadev-control-title'>基本信息</h4>
        <div class='datadev-form-group'>
            <label class='template-label datadev-control-label'><i class='bdp-note'>*</i>模板名称：</label>
            <div class='template-content template-name-content datadev-form-content'>
                <input class='datadev-form-control' value='$!{dataDevScriptTemplate.name}' name='name' placeholder='请输入模板名称，最长30个字符'
                       autocomplete='off'/>
            </div>
        </div>
        <div class='datadev-form-group'><label class='template-label datadev-control-label'><i class='bdp-note'>*</i>模板类型：</label>
            <div class='template-content template-type-content datadev-form-content'><input class='datadev-form-control'
                                                                                            value='$!{scriptType}'
                                                                                            placeholder=''
                                                                                            autocomplete='off'
                                                                                            disabled/></div>
        </div>
        <div class='datadev-form-group'><label class='template-label datadev-control-label'><i class='bdp-note'>*</i>模板描述：</label>
            <div class='template-content template-desc-content datadev-form-content'><textarea
                    class='datadev-form-control' name='desc' placeholder='请输入模板描述，最长255个字符'
                    autocomplete='off'>$!{dataDevScriptTemplate.desc}</textarea></div>
        </div>
        <h4 class='datadev-control-title'>分享设置</h4>
        <div class='datadev-form-group'><label class='template-label datadev-control-label'>指定人（erp）：</label>
            <div class='template-content template-erp-content datadev-form-content'>
                <input id='templateShareErps'  class='datadev-form-control bdp-form-control template-select'
                                                                                           value='$!{dataDevScriptTemplate.shareErps}'
                                                                                           name='shareErps'
                                                                                           placeholder=''
                                                                                           autocomplete='off'/></div>
        </div>
        <div class='datadev-form-group'><label class='template-label datadev-control-label'>分享到组或项目：</label>
            <div class='template-content template-git-content datadev-form-content'><input class='template-select-radio'
                                                                                           type='radio'
                                                                                           id='templateShareGits'
                                                                                           name='shareGits'
                                                                                           placeholder=''
                                                                                           autocomplete='off' style=''/><span
                    class='template-select-title'>是</span> <input class='template-select-radio' type='radio'
                                                                  checked='checked' name='shareGits' placeholder=''
                                                                  autocomplete='off' style=''/><span
                    class='template-select-title'>否</span></div>
        </div>
    </form>
</div>
<div class="templateBottom"
     style="">
    <a class="bdp-btn bdp-btn-primary" id="template-ok">确定</a>
    <a class="bdp-btn bdp-btn-default" data-dismiss="modal" id="closeDia">取消</a>
</div>
<script src="/scriptcenter/statics/pages/user.js?_dc=$!{staticVersion}"></script>
##<script src="/scriptcenter/statics/bdp/plugins/jquery-ui/jquery-drag-drop-sort.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/zTree/js/dataDev.config.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/js/jquery.artDialog.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/plugins/iframeTools.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/pages/home/scriptType.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/pages/home/share_template.js?_dc=$!{staticVersion}"></script>


