#set($layout="layout_blank.vm")
#set($page_title="newGitTips")
<link rel="stylesheet" href="/scriptcenter/statics/pages/home/project/newProjectTips.css?_dc=$!{staticVersion}" type="text/css">
<div id="projectTipsArt" style="overflow: hidden">
        <div id="info">平台支持Git和Coding两种项目类型，点击下列按钮选择创建</div>
    <div style = "line-height: 75px; user-select: none" >
        <div style = "line-height: 75px; user-select: none;" class="button-content">
            <div style = "float:left; margin-left: 80px; width:180px; font-size: 20px" class="git-btn" id="selectGIT">
                Git
            </div>
            <div style = "float:right;margin-right: 90px; width:180px;font-size: 20px" class="git-btn" id="selectCODING">
                Coding
            </div>
        </div>
    </div>
</div>

<script src="/scriptcenter/statics/pages/home/project/newProjectTips.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/js/jquery.artDialog.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/art/plugins/iframeTools.js?_dc=$!{staticVersion}"></script>
