
#codeModal .bdp-modal-dialog{
    width: 840px;
}


#codeModal div.leftBodyDiv {
    width: 242px;
    height: 280px;
    float: left;
    background: #272A2F;
    border: 1px solid #44494F;
}

#codeModal div.rightBodyDiv {
    overflow: hidden;
    /*height: 270px;*/
    padding-left: 40px;
    line-height: 32px;
}

#codeModal div.dialog-group {
    height: 35px;
}

#codeModal div.account-tool {
    padding: 0 6px;
    height: 40px;
    background: rgba(255,255,255,1);
}

#codeModal div.account-body {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #A3A9B2;
    letter-spacing: 0;
}

#codeModal label.account-label {
    width: 70px;
}

#codeModal div.account-input {
    float: left;
    width: 433px;
    position: relative;
}

#codeModal div.queue-tip {
    font-family: MicrosoftYaHei sans-serif;
    font-size: 12px;
    color: #DC9116;
    letter-spacing: 0;
    margin-left: 14px;
}

div.queue-tip a {
    cursor: pointer;
    text-decoration: underline;
    color: #DC9116;
}
div.queue-tip a:hover {
    color: #3286E9;
}

.queue-select {
    background: #272A2F;
    border: 1px solid #384F78;
}

.apply-div {
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.account-tool {
    line-height: 40px;
    font-size: 12px;
    border-bottom: 1px solid #44494F;
}

.account-tool span {
    margin-left: 8px;
    cursor: pointer;
}

.account-tool span.icon-disabled{
    pointer-events: none;
}

.account-tool span:hover {
    color: #3286E9;;
}


div.account-history {
    /* overflow: auto;
    height: 140px; */
}

ul.account-history-ul,ul.account-history-ul2 {
    /* margin-left: 60px; */
    line-height: 30px;
    font-family: MicrosoftYaHei sans-serif;
    font-size: 12px;
    color: #A3A9B2;
    letter-spacing: 0;
}

ul.account-history-ul li, ul.account-history-ul2 li{
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    color: rgba(0,0,0,0.65);
}

ul.account-history-ul li:hover, ul.account-history-ul2 li:hover{
    background: rgba(47,100,235,0.08);
}

ul.account-history-ul li.active,ul.account-history-ul2 li.active {
    color: rgba(47,100,235,1);
    background: rgba(47,100,235,0.08);
}

.noselect {

    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none; /* Non-prefixed version, currently*/
}


#codeModal .select2-container .select2-choice > .select2-chosen{
    font-size: 14px;
}

#codeModal .account-part{
    height: 280px;
    overflow: auto;
}

#codeModal .account-part-name{
    /* position: absolute;
    left: 0;
    top: 0;
    width: 60px; */
    padding-left: 15px;
    font-size: 14px;
    color: rgba(0,0,0,1);
    text-align: left;
    line-height: 3;
}
