@font-face {
    font-family: "iconfont"; /* Project id 2563471 */
    src: url('//at.alicdn.com/t/font_2563471_3oagimfkarw.woff2?t=1622533477086') format('woff2'),
    url('//at.alicdn.com/t/font_2563471_3oagimfkarw.woff?t=1622533477086') format('woff'),
    url('//at.alicdn.com/t/font_2563471_3oagimfkarw.ttf?t=1622533477086') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
    content: "\e642";
}

.icon-zhouqishipao1:before {
    content: "\e64b";
}

.icon-linshishipao1:before {
    content: "\e64f";
}

.icon-gongzuoliurenwu1:before {
    content: "\e64e";
}

.icon-BDP:before {
    content: "\e64c";
}

.icon-putongrenwu:before {
    content: "\e64d";
}

.icon-jiaobenkaifa:before {
    content: "\e648";
}

.icon-peizhirenwu:before {
    content: "\e649";
}

.icon-renwu:before {
    content: "\e64a";
}

.icon-xiangmukongjian:before {
    content: "\e641";
}

.icon-chakanxiangqing:before {
    content: "\e647";
}

.icon-lingcunwei1:before {
    content: "\e646";
}

.icon-xia:before {
    content: "\e639";
}

.icon-tingzhi:before {
    content: "\e63a";
}

.icon-shang:before {
    content: "\e63b";
}

.icon-shezhiyilai:before {
    content: "\e63c";
}

.icon-tiaoshi:before {
    content: "\e63d";
}

.icon-yunhang:before {
    content: "\e63e";
}

.icon-baocun:before {
    content: "\e63f";
}

.icon-geshihua:before {
    content: "\e640";
}

.icon-tijiao:before {
    content: "\e643";
}

.icon-bangzhuzhongxin:before {
    content: "\e645";
}

.icon-xinjianxiangmu:before {
    content: "\e626";
}

.icon-shuaxin:before {
    content: "\e629";
}

.icon-shangchuan:before {
    content: "\e62f";
}

.icon-wode:before {
    content: "\e630";
}

.icon-wenjianmulu:before {
    content: "\e631";
}

.icon-shujurukurenwu:before {
    content: "\e632";
}

.icon-shaixuan:before {
    content: "\e633";
}

.icon-shipaolishi:before {
    content: "\e634";
}

.icon-shujuchukurenwu:before {
    content: "\e635";
}

.icon-xinjian:before {
    content: "\e636";
}

.icon-shujulalianrenwu:before {
    content: "\e637";
}

.icon-renwuliebiao:before {
    content: "\e638";
}

.icon-jiqixuexirenwu1:before {
    content: "\e62c";
}

.icon-fenzhijuece1:before {
    content: "\e62d";
}

.icon-shujujisuan1:before {
    content: "\e62e";
}

.icon-fabujilu1:before {
    content: "\e62a";
}

.icon-shujutongbu1:before {
    content: "\e62b";
}

.icon-xiala:before {
    content: "\e620";
}

.icon-jishitongbu:before {
    content: "\e622";
}

.icon-shishilalianrenwu:before {
    content: "\e625";
}

.icon-daifabuduixiang:before {
    content: "\e627";
}

.icon-shujujisuan2:before {
    content: "\e628";
}
