#set($layout="layout_bdp_no_left.vm")
#set($page_title="")
<link rel="stylesheet" href="/scriptcenter/statics/terminal/dist/xterm.css?_dc=$!{staticVersion}">


<div id="logDiv" style="width: 100%;height: 300px;border:1px solid red;overflow: auto;">
</div>
<textarea id="cmd"></textarea>
<input type="button" id="send" onclick="sendCmd();" value="sendCmd"/>
<script>


    var socket = new WebSocket("ws://" + location.host + "/scriptcenter/runDebug?runDetailId=13395");
    socket.onclose = function () {
        alert("close");
    };

    /* socket.onopen = function () {
         // 使用 send() 方法发送数据
         socket.send("发送数据");
         alert("数据发送中...");
     };*/

    // 接收服务端数据时触发事件
    socket.onmessage = function (evt) {
        $("#logDiv").html("");
        var received_msg = evt.data;
        console.log(evt);
        var p = $("<p>").html(received_msg);
        $("#logDiv").append(p)
    };

    // 断开 web socket 连接成功触发事件
    socket.onclose = function () {
        alert("连接已关闭...");
    };
    function sendCmd() {
        $("#logDiv").html("");
        socket && socket.send($("#cmd").val());
    }
</script>