<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jsf="http://jsf.jd.com/schema/jsf"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://jsf.jd.com/schema/jsf  http://jsf.jd.com/schema/jsf/jsf.xsd">



    <!--scriptInterface-->
    <bean id="scriptServiceImpl" class="com.jd.bdp.datadev.service.impl.ScriptServiceImpl" />

    <jsf:provider id="scriptInterface" interface="com.jd.bdp.datadev.api.ScriptInterface" alias="${bdp.jsf.alias}"  ref="scriptServiceImpl" server="jsf"  />

    <bean id="scriptServiceFilterIml" class="com.jd.bdp.datadev.web.interceptor.WrapJsfApiFilter">
        <property name="smpUrl" value="${smp.domain.name}"/>
    </bean>

    <jsf:filter id="scriptServiceFilter" ref="scriptServiceFilterIml" providers="scriptInterface" consumers=""></jsf:filter>


    <bean id="agentScriptCallBackImpl" class="com.jd.bdp.datadev.service.impl.AgentScriptCallBackImpl" />

    <jsf:provider id="agentScriptCallBackInterface" interface="com.jd.bdp.datadev.agent.api.AgentScriptCallBackInterface" alias="${bdp.jsf.alias}-center"  ref="agentScriptCallBackImpl" server="jsf"  />

    <bean id="scriptBuffaloServiceImpl" class="com.jd.bdp.datadev.service.impl.ScriptBuffaloServiceImpl" />

    <jsf:provider id="scriptBuffaloInterface" interface="com.jd.bdp.datadev.api.ScriptBuffaloInterface" alias="${bdp.jsf.alias}"  ref="scriptBuffaloServiceImpl" server="jsf"  />


    <!--实现类 -->
    <bean id="dataPreviewJsfInterfaceImpl" class="com.jd.bdp.datadev.service.impl.DataPreviewJsfInterfaceImpl" />
    <jsf:provider id="dataPreviewJsfInterface" interface="com.jd.bdp.datadev.datapreview.api.DataPreviewJsfInterface" alias="${bdp.jsf.alias}" ref="dataPreviewJsfInterfaceImpl" server="jsf"/>




</beans>