#set($layout="layout_blank_combine.vm")

#define($cssBlock)

#end
#*    <div class="inherit_slide" style="width: 5px;height: 100%;background: #00ffd7;"></div>
*#

<div class="main_container_wraper" style="width: 100% ;height: 100%;display: flex;">
    <div class="top_container_left" style="width: 50px ; height: 100%;float: left;background: #0F3A56; ">left</div>
    <div class="top_container_right" style="height: 100%;float: left;background: red;flex: 1;">


        <div class="top_container_right_wraper"
             style="width: 100% ;height: 100%; background: white;display:flex;flex-direction: column;">

            <div class="top_container_right_top" style="background: #0BBCFE;height: 50px;width: 100%;">top</div>
            <div class="top_container_right_bottom" style="background: red;width: 100%;flex: 1; display: flex;flex-direction: row;">
                <div class="inherit_slide" style="width: 5px;height: 100%;background: #00ffd7;"></div>
                <div class="functions_warpper" style="width: 100px;height:100% ;background: black;flex: 0 1 308px;">black0</div>
                <div class="inherit_slide" style="width: 5px;height: 100%;background: #00ffd7;"></div>
                <div class="editor_wrapper" style="width: 100px;background: white;height: 100%; display: flex;flex: 1;">

utf-8你中

                </div>
            </div>

        </div>

    </div>
</div>



#define($javascriptBlock)
<script src="/cv/statics/pages/error/noActivate.js?_dc=$!{staticVersion}"></script>
<script type="text/javascript" src="iview.min.js"></script>

#end
