<link rel="stylesheet" href="/scriptcenter/statics/pages/home/home_left/funtion_manage.css?_dc=$!{staticVersion}" type="text/css">

<link rel="stylesheet" type="text/css" href="/scriptcenter/statics/zTree/css/zTreeStyle/zTreeStyle.css?_dc=$!{staticVersion}">

<div class="function-manage-tab left_manage" style="position: relative;">
    <div class="content function-content">
        <div style="width: 100%;padding:5px 10px;">
            <input type="text" id="searchFunction" placeholder="请输入函数名称、参数说明"
                   style="width: 100%;height: 30px; width: 100%;text-indent: 5px;"/>
            <span class="bdp-icon ide-search" id="searchFunctionFlag" style="position: absolute;right: 17px;top: 12px;"></span>
        </div>
        <ul id="funcT" class="ztree" style="padding: 0px 10px;">
        </ul>
    </div>
</div>
<div class="bdp-modal " id="functionShowModal" role="dialog" aria-hidden="true"
     style="overflow:hidden;z-index: 9990 !important;">
    <div class="bdp-modal-dialog " style="width: 680px;">
        <div class="bdp-modal-content "> <!--这是弹出框的头部-->
            <div class="bdp-modal-header"
                 style="height: 45px !important;padding: 15px 20px;margin: 0px;border-bottom: 1px solid #44494F">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="bdp-modal-title">函数</h4>
            </div> <!--这是弹出框的主要内容-->
            <div class="bdp-modal-body account-body" style="width: 680px;height: 500px;position: relative;">
                <div class="funtionToolDiv">
                    <span id="funcName"></span>
                    <a class="bdp-btn bdp-btn-primary" id="copyFunc">复制</a>
                </div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <td> 属性名</td>
                            <td>属性信息</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="commonTr">
                            <td>函数名称</td>
                            <td id="funcTrName"></td>
                        </tr>
                        <tr class="commonTr">
                            <td>责任人</td>
                            <td id="funcTrOwner"></td>
                        </tr>
                        <tr class="commonTr">
                            <td>函数类型</td>
                            <td id="funcTrType"></td>
                        </tr>
                        <tr class="commonTr">
                            <td>修改人</td>
                            <td id="funcTrMender"></td>
                        </tr>
                        <tr class="commonTr">
                            <td>修改时间</td>
                            <td id="funcTrModified"></td>
                        </tr>
                        <tr class="expTr">
                            <td>命令格式</td>
                            <td><textarea id="expText" readonly></textarea></td>
                        </tr>
                        <tr class="descTr">
                            <td>参数说明</td>
                            <td><textarea id="descText" readonly></textarea></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div> <!--这是弹出框的底部内容-->
        </div>
    </div>
</div>


<script src="/scriptcenter/statics/pages/home/home_left/funtion_manage.js?_dc=$!{staticVersion}"></script>
<script src="/scriptcenter/statics/zTree/js/jquery.ztree.all.js?_dc=$!{staticVersion}"></script>
