<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
     <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/scriptcenter/statics/image/favicon.ico"/>
    <script>
        var selected_menu_id = '$!{selected_menu_id}';
        var _bdpDomain = '$!{bdpDomain}';
        var _staticVersion = '$!{staticVersion}';
    </script>
    #if($cssBlock) $cssBlock #end
    <!-- 下面是公用的JS文件 -->
    <script type="text/javascript" src="/scriptcenter/statics/bdp/js/bdp-core.js?_dc=$!{staticVersion}"></script>
</head>

<body style="overflow-y:hidden;background: #252A2F; ">
    <!-- 工作区内容区域 -->
     $screen_content
    #if($javascriptBlock) $javascriptBlock
    #end
</body>
</html>