@font-face {
  font-family: 'bdp-icon';
  src:  url('fonts/bdp-icon.eot?1rfwhw');
  src:  url('fonts/bdp-icon.eot?1rfwhw#iefix') format('embedded-opentype'),
    url('fonts/bdp-icon.ttf?1rfwhw') format('truetype'),
    url('fonts/bdp-icon.woff?1rfwhw') format('woff'),
    url('fonts/bdp-icon.svg?1rfwhw#bdp-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bdp-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bdp-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bdp-icon-globe:before {
  content: "\ea39";
}
.bdp-icon-dw:before {
  content: "\ea3a";
}
.bdp-icon-bgl1:before {
  content: "\e900";
}
.bdp-icon-log:before {
  content: "\e901";
}
.bdp-icon-bgl:before {
  content: "\e902";
}
.bdp-icon-ide:before {
  content: "\e903";
}
.bdp-icon-sjzd:before {
  content: "\e904";
}
.bdp-icon-zbzx:before {
  content: "\e905";
}
.bdp-icon-zcgl:before {
  content: "\e906";
}
.ide-cfg:before {
  content: "\e907";
}
.ide-conf:before {
  content: "\e908";
}
.ide-ini:before {
  content: "\e909";
}
.ide-json:before {
  content: "\e90a";
}
.ide-pull:before {
  content: "\e90b";
}
.ide-push:before {
  content: "\e90c";
}
.ide-yml:before {
  content: "\e90d";
}
.bdp-gd-more-tag:before {
  content: "\e90e";
}
.zcfx-up:before {
  content: "\e90f";
}
.zcfx-more:before {
  content: "\e910";
}
.zcfx-js:before {
  content: "\e911";
}
.zcfx-help:before {
  content: "\e912";
}
.zcfx-down:before {
  content: "\e913";
}
.ide-bl:before {
  content: "\e914";
}
.ide-ckdd:before {
  content: "\e915";
}
.ide-hfyx:before {
  content: "\e916";
}
.ide-rztz:before {
  content: "\e917";
}
.ide-rzyx:before {
  content: "\e918";
}
.DD-ZK:before {
  content: "\e919";
}
.DD-SQ:before {
  content: "\e91a";
}
.ide-szyl:before {
  content: "\e91b";
}
.bzzx-syb:before {
  content: "\e91c";
}
.bzzx-wc:before {
  content: "\e91d";
}
.bzzx-xyb:before {
  content: "\e91e";
}
.bdp-icon-tc:before {
  content: "\e91f";
}
.bzzx-o:before {
  content: "\e920";
}
.bzzx-u:before {
  content: "\e921";
}
.bzzx-cpjc:before {
  content: "\e922";
}
.bzzx-ckxq:before {
  content: "\e923";
}
.bzzx-kfzzz:before {
  content: "\e924";
}
.bzzx-bf:before {
  content: "\e925";
}
.bzzx-yhzn:before {
  content: "\e926";
}
.bzzx-jxsp:before {
  content: "\e927";
}
.bzzx-cpjj:before {
  content: "\e928";
}
.bzzx-faq:before {
  content: "\e929";
}
.bzzx-qbcp:before {
  content: "\e92a";
}
.bzzx-ss:before {
  content: "\e92b";
}
.bzzx-gn:before {
  content: "\e92c";
}
.bzzx-alert:before {
  content: "\e92d";
}
.bzzx-back:before {
  content: "\e92e";
}
.bzzx-close:before {
  content: "\e92f";
}
.bzzx-done:before {
  content: "\e930";
}
.bzzx-goon:before {
  content: "\e931";
}
.bzzx-home:before {
  content: "\e932";
}
.bzzx-list:before {
  content: "\e933";
}
.ide-icon-zk:before {
  content: "\e934";
}
.ide-icon-sq:before {
  content: "\e935";
}
.gd-pl:before {
  content: "\e936";
}
.bdp-icon-tjzfblb:before {
  content: "\e937";
}
.bdp-icon-jrcts:before {
  content: "\e938";
}
.ide-left-arrow-down:before {
  content: "\e939";
}
.ide-pop-down:before {
  content: "\e93a";
}
.ide-pop-up:before {
  content: "\e93b";
}
.ide-kfzy:before {
  content: "\e93c";
}
.ide-jszc:before {
  content: "\e93d";
}
.ide-cjwj:before {
  content: "\e93e";
}
.ide-logo:before {
  content: "\e93f";
}
.ide-search:before {
  content: "\e940";
}
.ide-close:before {
  content: "\e941";
}
.ide-left-arrow:before {
  content: "\e942";
}
.ide-left-cjzdyhs:before {
  content: "\e943";
}
.ide-left-sc:before {
  content: "\e944";
}
.ide-left-yjSQL:before {
  content: "\e945";
}
.ide-left-hs:before {
  content: "\e946";
}
.ide-left-drsj:before {
  content: "\e947";
}
.ide-left-cjb:before {
  content: "\e948";
}
.ide-rl:before {
  content: "\e949";
}
.ide-more:before {
  content: "\e94a";
}
.ide-xzmu:before {
  content: "\e94b";
}
.ide-lock:before {
  content: "\e94c";
}
.ide-delete:before {
  content: "\e94d";
}
.ide-messages:before {
  content: "\e94e";
}
.ide-help:before {
  content: "\e94f";
}
.ide-fz:before {
  content: "\e950";
}
.ide-sx:before {
  content: "\e951";
}
.ide-sz:before {
  content: "\e952";
}
.ide-tz:before {
  content: "\e953";
}
.ide-yx:before {
  content: "\e954";
}
.ide-gsh:before {
  content: "\e955";
}
.ide-edit1:before {
  content: "\e956";
}
.ide-lcw:before {
  content: "\e957";
}
.ide-save:before {
  content: "\e958";
}
.ide-xj:before {
  content: "\e959";
}
.ide-wjj:before {
  content: "\e95a";
}
.ide-wjjdk:before {
  content: "\e95b";
}
.ide-shuax:before {
  content: "\e95c";
}
.ide-xjml:before {
  content: "\e95d";
}
.ide-left-python:before {
  content: "\e95e";
}
.ide-left-shell:before {
  content: "\e95f";
}
.ide-left-sql:before {
  content: "\e960";
}
.ide-left-zip:before {
  content: "\e961";
}
.ide-left-jar:before {
  content: "\e962";
}
.bdp-icon-sjk:before {
  content: "\e963";
}
.bdp-icon-jrc:before {
  content: "\e964";
}
.bdp-icon-jdq:before {
  content: "\e965";
}
.bdp-icon-zzts:before {
  content: "\e966";
}
.ide-icon-mjdjt:before {
  content: "\e967";
}
.bdp-icon-sjcx:before {
  content: "\e968";
}
.bdp-jdbk-fgx:before {
  content: "\e969";
}
.bdp-jdbk-pl:before {
  content: "\e96a";
}
.bdp-icon-jh:before {
  content: "\e96b";
}
.bdp-icon-qxgl:before {
  content: "\e96c";
}
.bdp-icon-ywgl:before {
  content: "\e96d";
}
.bdp-icon-wbwjzstp:before {
  content: "\e96e";
}
.bdp-jdbk-home:before {
  content: "\e96f";
}
.ide-icon-qpt:before {
  content: "\e970";
}
.bdp-jdbk-bj:before {
  content: "\e971";
}
.bdp-jdbk-fx:before {
  content: "\e972";
}
.bdp-icon-yysb:before {
  content: "\e973";
}
.bdp-icon-sdxx:before {
  content: "\e974";
}
.ide-icon-zt:before {
  content: "\e975";
}
.bdp-jdbk-tx:before {
  content: "\e976";
}
.bdp-icon-sjwjpt:before {
  content: "\e977";
}
.ide-icon-bt:before {
  content: "\e978";
}
.bdp-icon-sfyqzj:before {
  content: "\e979";
}
.ide-icon-xt:before {
  content: "\e97a";
}
.bdp-jdbk-sc:before {
  content: "\e97b";
}
.ide-icon-dtbg:before {
  content: "\e97c";
}
.bdp-jdbk-tjzb:before {
  content: "\e97d";
}
.bdp-icon-ja:before {
  content: "\e97e";
}
.bdp-index-lb:before {
  content: "\e97f";
}
.bdp-grzx-arrow-down:before {
  content: "\e980";
}
.bdp-grzx-arrow-up:before {
  content: "\e981";
}
.bdp-grzx-cl:before {
  content: "\e982";
}
.bdp-grzx-time:before {
  content: "\e983";
}
.bdp-icon-ztc:before {
  content: "\e984";
}
.bdp-icon-jdyhhx:before {
  content: "\e985";
}
.bdp-icon-rlsb:before {
  content: "\e986";
}
.bdp-index-rightbar-sjh:before {
  content: "\e987";
}
.bdp-icon-yhmx:before {
  content: "\e988";
}
.bdp-icon-bzpt:before {
  content: "\e989";
}
.bdp-icon-close:before {
  content: "\e98a";
}
.bdp-icon-xzsfpt:before {
  content: "\e98b";
}
.bdp-icon-xxzx:before {
  content: "\e98c";
}
.bdp-icon-sjzs:before {
  content: "\e98d";
}
.bdp-index-dsjzjrz-hqzs:before {
  content: "\e98e";
}
.bdp-index-sszx-sssjzx:before {
  content: "\e98f";
}
.bdp-index-sszx-sssjjr:before {
  content: "\e990";
}
.bdp-index-sszx-sssjjs:before {
  content: "\e991";
}
.bdp-index-sszx-zsssjck:before {
  content: "\e992";
}
.bdp-index-sjjs-jxcx:before {
  content: "\e993";
}
.bdp-index-sjjs-lxjs:before {
  content: "\e994";
}
.bdp-index-sjjs-sjcx:before {
  content: "\e995";
}
.bdp-index-sjjs-sjdy:before {
  content: "\e996";
}
.bdp-index-dsjzjrz-ksrz:before {
  content: "\e997";
}
.bdp-index-wmdys-gx:before {
  content: "\e998";
}
.bdp-icon-lczx:before {
  content: "\e999";
}
.bdp-icon-ide1:before {
  content: "\e99a";
}
.bdp-index-dsjzjrz-zjpx:before {
  content: "\e99b";
}
.bdp-icon-jkzx:before {
  content: "\e99c";
}
.bdp-icon-txsb:before {
  content: "\e99d";
}
.bdp-index-dsjzjrz-ksbm:before {
  content: "\e99e";
}
.bdp-index-wmdys-aq:before {
  content: "\e99f";
}
.bdp-icon-wzsb:before {
  content: "\e9a0";
}
.bdp-icon-dsjzjrz:before {
  content: "\e9a1";
}
.bdp-icon-tpwbsb:before {
  content: "\e9a2";
}
.bdp-index-rightbar-ewm:before {
  content: "\e9a3";
}
.bdp-index-wmdys-wd:before {
  content: "\e9a4";
}
.bdp-index-wmdys-zh:before {
  content: "\e9a5";
}
.bdp-index-rightbar-top:before {
  content: "\e9a6";
}
.bdp-icon-znz:before {
  content: "\e9a7";
}
.bdp-icon-lh:before {
  content: "\e9a8";
}
.bdp-icon-jdmtf:before {
  content: "\e9a9";
}
.bdp-icon-zwx:before {
  content: "\e9aa";
}
.bdp-icon-jdbk:before {
  content: "\e9ab";
}
.bdp-icon-zryycl:before {
  content: "\e9ac";
}
.bdp-icon-jqgl2:before {
  content: "\e9ad";
}
.bdp-icon-tpsh:before {
  content: "\e9ae";
}
.bdp-icon-buffalo:before {
  content: "\e9af";
}
.bdp-jdbk-unlike:before {
  content: "\e9b0";
}
.bdp-jdbk-like:before {
  content: "\e9b1";
}
.bdp-icon-key:before {
  content: "\e9b2";
}
.znz-yx:before {
  content: "\e9b3";
}
.znz-xz:before {
  content: "\e9b4";
}
.znz-tjcx:before {
  content: "\e9b5";
}
.znz-tb:before {
  content: "\e9b6";
}
.znz-gltj:before {
  content: "\e9b7";
}
.znz-dkcx:before {
  content: "\e9b8";
}
.znz-bg:before {
  content: "\e9b9";
}
.bdp-icon-bzwd:before {
  content: "\e9ba";
}
.bdp-icon-dh:before {
  content: "\e9bb";
}
.bdp-icon-kszx:before {
  content: "\e9bc";
}
.bdp-icon-sszx-cg:before {
  content: "\e9bd";
}
.bdp-icon-sszx-sb:before {
  content: "\e9be";
}
.znz-bccx:before {
  content: "\e9bf";
}
.bdp-icon-ts:before {
  content: "\e9c0";
}
.znz-arrow:before {
  content: "\e9c1";
}
.bdp-icon-sjmh:before {
  content: "\e9c2";
}
.bdp-icon-hbase:before {
  content: "\e9c3";
}
.bdp-icon-jqgl:before {
  content: "\e9c4";
}
.bz-hd:before {
  content: "\e9c5";
}
.bz-hdjx:before {
  content: "\e9c6";
}
.bz-hk:before {
  content: "\e9c7";
}
.bz-nsz:before {
  content: "\e9c8";
}
.sszx-zc:before {
  content: "\e9c9";
}
.bz-ssz:before {
  content: "\e9ca";
}
.sszx-xjwjj:before {
  content: "\e9cb";
}
.sszx-arrow:before {
  content: "\e9cc";
}
.sszx-sq:before {
  content: "\e9cd";
}
.sszx-zk:before {
  content: "\e9ce";
}
.sszx-jy:before {
  content: "\e9cf";
}
.sszx-yhgs:before {
  content: "\e9d0";
}
.sszx-xj:before {
  content: "\e9d1";
}
.sszx-lcw:before {
  content: "\e9d2";
}
.sszx-bc:before {
  content: "\e9d3";
}
.bdp-icon-yygl:before {
  content: "\e9d4";
}
.bdp-icon-xtgl:before {
  content: "\e9d5";
}
.znz-kfwc:before {
  content: "\e9d6";
}
.znz-kfz:before {
  content: "\e9d7";
}
.bdp-icon-cbzx:before {
  content: "\e9d8";
}
.bdp-icon-gf:before {
  content: "\e9d9";
}
.ja-hddb:before {
  content: "\e9da";
}
.bdp-icon-sc2:before {
  content: "\e9db";
}
.bdp-icon-xqwj:before {
  content: "\e9dc";
}
.bdp-icon-lxwm:before {
  content: "\e9dd";
}
.bdp-icon-bzwd2:before {
  content: "\e9de";
}
.bdp-icon-yjfk:before {
  content: "\e9df";
}
.bdp-icon-cdsq:before {
  content: "\e9e0";
}
.bdp-icon-cdzk:before {
  content: "\e9e1";
}
.bdp-icon-left:before {
  content: "\e9e2";
}
.bdp-icon-qb:before {
  content: "\e9e3";
}
.bdp-icon-fhsy:before {
  content: "\e9e4";
}
.bdp-icon-lbck:before {
  content: "\e9e5";
}
.bdp-icon-txck:before {
  content: "\e9e6";
}
.bdp-icon-success:before {
  content: "\e9e7";
}
.bdp-icon-right:before {
  content: "\e9e8";
}
.bdp-kbgl-zycc:before {
  content: "\e9e9";
}
.bdp-kbgl-wsysjb:before {
  content: "\e9ea";
}
.bdp-kbgl-xxxzzt:before {
  content: "\e9eb";
}
.bdp-kbgl-xx:before {
  content: "\e9ec";
}
.bdp-kbgl-xgxzzt:before {
  content: "\e9ed";
}
.bdp-kbgl-wjgb:before {
  content: "\e9ee";
}
.bdp-kbgl-wjdk:before {
  content: "\e9ef";
}
.bdp-kbgl-tj:before {
  content: "\e9f0";
}
.bdp-kbgl-scxzzt:before {
  content: "\e9f1";
}
.bdp-kbgl-lsjcc:before {
  content: "\e9f2";
}
.bdp-kbgl-bgl:before {
  content: "\e9f3";
}
.dongdong:before {
  content: "\e9f4";
}
.sszx-dropdown:before {
  content: "\e9f5";
}
.sszx-dropup:before {
  content: "\e9f6";
}
.sszx-zysq:before {
  content: "\e9f7";
}
.bdp-icon-wdxx:before {
  content: "\e9f8";
}
.bdp-kbgl-wx:before {
  content: "\e9f9";
}
.bdp-icon-minus:before {
  content: "\e9fa";
}
.bdp-icon-plus:before {
  content: "\e9fb";
}
.ide-icon-cd:before {
  content: "\e9fc";
}
.ide-icon-xzgit:before {
  content: "\e9fd";
}
.bdp-icon-loading:before {
  content: "\e9fe";
}
.bzzx-ksks:before {
  content: "\e9ff";
}
.bzzx-xs:before {
  content: "\ea00";
}
.bzzx-xx:before {
  content: "\ea01";
}
.bdp-icon-wdfk:before {
  content: "\ea02";
}
.bdp-icon-wddb:before {
  content: "\ea03";
}
.bdp-icon-wdsq:before {
  content: "\ea04";
}
.bdp-icon-grzx:before {
  content: "\ea05";
}
.ide-png:before {
  content: "\ea06";
}
.ide-pic:before {
  content: "\ea07";
}
.ide-jpg:before {
  content: "\ea08";
}
.ide-gif:before {
  content: "\ea09";
}
.ide-gz:before {
  content: "\ea0a";
}
.ide-zip:before {
  content: "\ea0b";
}
.ide-RAR:before {
  content: "\ea0c";
}
.ide-docx:before {
  content: "\ea0d";
}
.ide-doc:before {
  content: "\ea0e";
}
.ide-pdf:before {
  content: "\ea0f";
}
.ide-jsp:before {
  content: "\ea10";
}
.ide-html:before {
  content: "\ea11";
}
.ide-vm:before {
  content: "\ea12";
}
.ide-csv:before {
  content: "\ea13";
}
.ide-log:before {
  content: "\ea14";
}
.ide-txt:before {
  content: "\ea15";
}
.ide-java:before {
  content: "\ea16";
}
.ide-prop:before {
  content: "\ea17";
}
.ide-xml:before {
  content: "\ea18";
}
.ssjspt-arrow-up:before {
  content: "\ea19";
}
.ssjspt-arrow-down:before {
  content: "\ea1a";
}
.ssjspt-arrow-right:before {
  content: "\ea1b";
}
.ssjspt-arrow-left:before {
  content: "\ea1c";
}
.ssjspt-ssysj:before {
  content: "\ea1d";
}
.ssjspt-jdqgl:before {
  content: "\ea1e";
}
.ssjspt-ywgj:before {
  content: "\ea1f";
}
.ide-scsb:before {
  content: "\ea20";
}
.ide-sccg:before {
  content: "\ea21";
}
.bdp-cd-left:before {
  content: "\ea22";
}
.bdp-cd-right:before {
  content: "\ea23";
}
.ide-debug:before {
  content: "\ea24";
}
.ide-rzdx:before {
  content: "\ea25";
}
.ide-icon-xz:before {
  content: "\ea26";
}
.download:before {
  content: "\ea27";
}
.ide-git:before {
  content: "\ea28";
}
.ide-edit:before {
  content: "\ea29";
}
.ide-new:before {
  content: "\ea2a";
}
.ide-qxzd:before {
  content: "\ea2b";
}
.ide-share:before {
  content: "\ea2c";
}
.ide-tjmb:before {
  content: "\ea2d";
}
.ide-zd:before {
  content: "\ea2e";
}
.icon-arrow-more:before {
  content: "\ea2f";
}
.icon-help:before {
  content: "\ea30";
}
.icon-refres:before {
  content: "\ea31";
}
.icon-download:before {
  content: "\ea32";
}
.icon-set:before {
  content: "\ea33";
}
.bdp-icon-wdxz:before {
  content: "\ea34";
}
.bdp-icon-refresh:before {
  content: "\ea35";
}
.bdp-icon-ksys:before {
  content: "\ea36";
}
.bdp-icon-ts1:before {
  content: "\ea37";
}
.bdp-icon-wh:before {
  content: "\ea38";
}
